[user]
    email = szigeti.peter23@gmail.com
    name = plungingChode
[credential]
    helper = store
[pull]
    rebase = false
[alias]
    s = status -s
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    hist = log --decorate --pretty=format:'%C(yellow)%h%C(reset) %ad | %s%d [%an]' --graph --date=short
[init]
    defaultBranch = master
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
    noprefix = true
